# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtualenv
.venv/
env/
venv/

# Git
.git
.gitignore

# OS files
.DS_Store

# Build artifacts
*.egg-info
dist/
build/

# Local settings
.env
